/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box; }

/* Efecto de movimiento */
.button:hover {
  filter: brightness(80%);
  transition: 0.4s;
  padding-right: 24px;
  padding-left:8px;
}

/* Efecto para description */
.button:hover:before {
  border: none;
  color: white;
  position: absolute;
  padding: 0px 35px;
  width: 400px;
  height: auto;
  word-spacing: 3px;
  text-align: left;
  text-decoration: none;
  line-height: 1.3;
  display: block;
  font-size: 18px;
  margin: 0px 280px;
  cursor: pointer;
  vertical-align: middle;
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}


/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Github */
.button.button-github {
  color: #FFFFFF;
  background-color: #1f1829 }
.button.button-github:hover,
.button.button-github:hover:before {
  content: 'Aqui estan mis proyectos!';
  white-space: initial; }

/* DockerHub */
.button.button-dockerhub {
  color: #FFFFFF;
  background-color: #141e29 }
.button.button-dockerhub:hover,
.button.button-dockerhub:hover:before {
    content: 'Mi Repositorio.';
    white-space: initial; }

/* GitLab */
.button.button-gitlab {
  color: #FFFFFF;
  background-color: #2b301a }
.button.button-gitlab:hover,
.button.button-gitlab:hover:before {
    content: 'Mi Entorno de Pruebas.';
    white-space: initial; }

/* Udemy */
.button.button-udemy {
  color: #FFFFFF;
  background-color: #200f1e }
.button.button-udemy:hover,
.button.button-udemy:hover:before {
    content: 'Mi Perfil de Udemy.';
    white-space: initial; }

/* Slack */
.button.button-slack {
  color: #FFFFFF;
  background-color: #180a0a }
.button.button-slack:hover,
.button.button-slack:hover:before {
    content: 'Mi Perfil de Slack.';
    white-space: initial; }

/* Mail */
.button.button-mail {
  color: #000000;
  background-color: #809294 }
.button.button-mail:hover,
.button.button-mail:hover:before {
    content: 'Enviarme un mail!';
    white-space: initial; }

    /* Mercha */
.button.button-vacio {
  color: #000000;
  background-color: #ff9900 }
.button.button-mercha:hover,
.button.button-mercha:hover:before {
    content: 'Boton vacio para un futuro.';
    white-space: initial; }

/* Otro */
.button.button-vacio2 {
  color: #FFFFFF;
  background-color: #212c3d }
.button.button-vacio:hover,
.button.button-vacio:hover:before {
    content: 'Boton vacio para un futuro.';
    white-space: initial; }

/* Otro */
.button.button-vacio3 {
  color: #FFFFFF;
  background-color: #212c3d }
.button.button-vacio2:hover,
.button.button-vacio2:hover:before {
    content: 'Boton vacio para un futuro.';
    white-space: initial; }